*{box-sizing: border-box;}

body{
    margin: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 17px 0 17px;
    background-image: url(./images/puntitos.png);
}
@media(min-width:920px){
    .header{
        padding: 36px 103px 0 80px;
    }
}

.logo{
    width: 54px;
    height: 50px;
}
@media(min-width:920px){
    .logo{
        width: 95px;
    height: 109px;
    }
}
.menu-imp{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media(min-width:920px){
    .menu-imp{
        display: none;
    }
}

.raya-menu{
    width: 36px;
    height: 6px;
    background-color: black;
}
.nav-header{
    display: none;
}
@media(min-width:920px){
    .nav-header{
        width: 428px;
        display: flex;
        justify-content: space-between;
        font-family: "Roboto";
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        list-style: none;
    }
}








.section-one{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/puntitos.png);
    padding-top: 101px;
}
@media(min-width:920px){
    .section-one{
        flex-direction: row;
        padding-top: 115px;
    }
}
.titulo-1{
    font-family: "Open Sans";
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0 0 58px 0;
    width: 291px;
   
}
@media(min-width:920px){
    .titulo-1{
        align-self: flex-start;
        text-align: left;
        padding: 0 0 0 80px;
        width: 313px;
        
    }
}

.img-perfil{
    width: 318px;
    height: 300px;
    border-radius: 50px 50px 0 0;
}
@media(min-width:920px){
    .img-perfil{
        width: 435px;
        height: 395px;
        border-radius: 80px 0 0 0;
        margin-right: 84px;
    }   
}








.section-two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    padding: 55px 0 68px 0;
}

@media(min-width:920px){
    .section-two{
        display: grid;
        grid-template: "section-two-left section-two-right";
        grid-template-columns: 50%;
        column-gap: 90px;
        padding: 140px 0 170px 0;
    }
}
@media(min-width:920px){
    .div-section-two{
        grid-area: section-two-right;
        justify-self: left;
        align-self: center;
    }
}

.titulo-section-two{
    text-align: center;
    color: white;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}
@media(min-width:920px){
    .titulo-section-two{
        text-align: left;
    }
}
.parrafo-section-two{
    font-family: "Roboto";
    font-size: 16px;
    color: white;
    font-weight: 400;
    font-style: normal;
    padding: 41px 32px 57px 32px;
    margin: 0;
}
@media(min-width:920px){
    .parrafo-section-two{
        font-size: 24px;
        padding: 28px 300px 0 0;
    }
}
.div-tilde-section-two{
    text-align: center;
}
@media(min-width:920px){
    .div-tilde-section-two{
        grid-area: section-two-left;
        justify-self: right;
        align-self: center;
        
    }
}
.tilde{
    width:80px;
    height:80px;
}
@media(min-width:920px){
    .tilde{
        width:211px;
        height:211px;
    }
}








.section-three{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-section-three{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    height: auto;
    padding: 70px 0 0 0;
    margin: 0;
}

@media(min-width:920px){
    .titulo-section-three{
        font-size: 48px;
        padding-top: 60px;
    }
}

.div-section-three{
    padding: 60px 0 60px 0;
    align-self: center;
}
@media(min-width:920px){
    .div-section-three{
        display: flex;
        flex-direction: row;
        padding-bottom: 100px;
        padding-top: 75px;
        justify-content: space-between;
        align-self: normal;
    }
}
.servicios-section-three{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    max-width: 500px;
}
@media(min-width:920px){
    .servicios-section-three{
        padding: 20px 80px;
    }
}
.icon{
    width: 138px;
    height: 128px;
}
.subtitle-section-three{
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.article-section-three{
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}








.section-four{
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    align-content: center;
}
@media(min-width:920px){
    .section-four{
        display: grid;
        grid-template: "section-four-left section-four-right";
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        padding: 100px;
    }
}

@media(min-width:920px){
    .div-title-section-four{
        grid-area: section-four-left;
        align-self: center;
        justify-self: end;
        border: solid;
    }
}

.titulo-section-four{
    margin: 0px;
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}
@media(min-width:920px){
    .titulo-section-four{
        justify-self: end;
        align-self: start;
        font-size: 48px;
    }
}

.form{
    display: flex;
    flex-direction: column;
    width: 335px;
    color: white;
}
@media(min-width:920px){
    .div-form-section-four{
        grid-area: section-four-right;
        align-self: start;
        justify-self: start;
        border: solid;
    }
}

.input-label{
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
}
.input-name{
    height: 45px;
    margin: 0 0 51px 0;
}
.input-email{
    height: 45px;
    margin: 0 0 45px 0;
}
.input-textarea{
    height: 113px;
    margin: 0 0 60px 0;
}

.input-submit{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    height: 45px;
}








.footer{
    height: 493px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #DBDBDB;
}
@media(min-width:920px){
    .footer{
        height: 168,13px;
        display: grid;
        grid-template: "footer-left footer-right";
        grid-template-columns: 50%;
        background-image: url(./images/puntitos-desktop-footer.png);
    }
}
.div-logo-footer{
    padding-left: 16px;
}
@media(min-width:920px){
    .div-logo-footer{
        padding: 0;
    }
}
.logo-footer{
    width: 77px;
    height: 71px;
}
.redes-footer{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.icono-footer{
    width: 28px;
    height:28px;
}
.copyrigth-footer{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    margin: 18px 0px;
}
@media(min-width:920px){
    .div-logo-footer{
        grid-area: footer-left;
        align-self: center;
        justify-self: start;
    }
}

.nombre-icono-footer{
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 12.5px 8px;
}

.div-footer{
    padding-left: 16px;
}
@media(min-width:920px){
    .div-footer{
        grid-area: footer-right;
        align-self: center;
        justify-self: end;
        padding: 0;
    }
}